header {
  height: 150px;
  width: 901px;
  margin: auto;
  display:flex;
  justify-content: space-between;
  align-items: center;

}

header div {
  display:flex;
  align-content: center;
  align-items: center;
  
}

header div img{
  padding-right: 5px;
}

main img {
  background-repeat: repeat-x;
}

.section1 h1{
  font-size: 32px;
 padding:0;
 margin:0;
 font-family: 'Yellowtail', cursive;

}

.section1 h3{
  font-size: 8px;
  padding:0;
  margin:0;
 }

#spacer{
  width: 10px;
}

main{
  width: 901px;
  margin:auto;
}

div form .img {
    background-image: url("img/list-bg.png");
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
  }

  aside{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("../img/list-bg.png");
  }

  
