header {
  height: 150px;
  width: 901px;
  margin: auto;
  display:flex;
  justify-content: space-between;
  align-items: center;

}

header div {
  display:flex;
  align-content: center;
  align-items: center;
  
}

header div img{
  padding-right: 5px;
}

h2{
  font-size: 32px;
  font-family: Tahoma, sans-serif; 
  font-weight: bold;
}

.banner {
  background-image: url("../img/hr-img.png");
  background-repeat: repeat-x;
}

.printer{
  display: flex;
  justify-content: space-between;
  padding-bottom:0.4 rem;
}

.printer h4{
  font-size: 10px;
  letter-spacing: 1.5px;
}
.print{
  display: flex;
  
}
.print p{
  font-size: 10px;
  padding-left: 0.2rem;
}

.section1 h1{
  font-size: 32px;
 padding:0;
 margin:0;
 font-family: 'Yellowtail', cursive;

}

.section1 h3{
  font-size: 8px;
  padding:0;
  margin:0;
 }

#spacer{
  width: 10px;
}

.section3 img {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.section3 p {
  padding: 1rem;
  font-size: 18px;
  line-height: 26pt;
}

main{
  width: 901px;
  margin:auto;
}

div form .img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
  
  }

  aside{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("../img/list-bg.png");
    padding: 1.5rem;
    margin: 2rem;
  }

  
footer {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.bio {
  display: flex;
  align-items: center;
}

.share {
  background-color: rgba(255, 68, 0, 0.699);
  color: white;
  width: 8rem;
  text-align: center;
  padding: 10px;
  margin-left: 4rem;

}

.bio h3 {
  font-weight: bold;
  padding-bottom: 1rem;
}

.van {
  padding-left: 1.5rem;
}